:root{
    --pint10:#ff9510;
    --pint25:rgb(25, 160, 25);
    --pint0: #8B0000;
}

.org-dashboard-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background:var(--primary-background);
  background-size: cover;
  background-position: center;
  display: flex;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.org-dashboard-wrapper .syringe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.org-dashboard-wrapper .org-dashboard {
  position: relative;
  padding: 0 20px;
  margin-top: 20px;
  width: 100vw;
  z-index: 2;
  background: transparent;
  color: var(--text-color);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* top section */
.org-dashboard .top-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* top left */
.org-dashboard .quick-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px;
  width: 300px;
  height: 370px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  backdrop-filter: var(--backdrop-filter);
}

.org-dashboard .action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 3;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--border-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.org-dashboard .action-button:hover {
  color: var(--text-color);
  backdrop-filter: blur(15px);
  background: transparent;
}

/* top right section */
.org-dashboard .top-section .blood-inventory-section {
  z-index: 2;
  width: 1080px;
  height: 370px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(77, 5, 2, 1);
  background: transparent;
  box-shadow: var(--shadow);
  backdrop-filter: var(--backdrop-filter);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.org-dashboard .h1-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blood-inventory-section .h1-wrapper .alert-wrapper {
  color: var(--button-background-color);
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  /* background-color: var(--secondary-background); */
  border-radius: 2px;
  padding: 0 4px;
}

.blood-inventory-section .h1-wrapper .alert {
  font-size: 24px;
  font-weight: bold;
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  from {
      visibility: visible;
  }
  to {
      visibility: hidden;
  }
}

.org-dashboard .bar-chart-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.org-dashboard .bar-chart-wrapper .chart-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.org-dashboard .bar-chart-wrapper .chart-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}


/* bottom section */
/* organization request ko lagi */
.org-dashboard .bottom-section .requested-blood-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 1400px;
  height: 300px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  backdrop-filter: var(--backdrop-filter);
}

.org-dashboard  .requested-blood-wrapper .h1 {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: transparent;
  backdrop-filter: var(--backdrop-filter);
  padding: 7px 20px;
  background-color: var(--h1-background);
  color: var(--h1-text-color);
  z-index: 3;
}

.org-dashboard .requested-blood-wrapper table {
  margin: 0 20px 20px;
}

.org-dashboard .requested-blood-wrapper table th {
  text-align: start;
  font-size: 18px;
}

.org-dashboard .requested-blood-wrapper table td {
  padding-top: 10px;
  font-size: 17px;
}

.org-dashboard .requested-blood-wrapper table td .donate-button {
  padding: 6px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--border-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.org-dashboard .requested-blood-wrapper table td .donate-button:hover {
  color: var(--secondary-text-color);
  backdrop-filter: blur(15px);
  background: transparent;
}


.org-dashboard .requested-blood-wrapper .table-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





/* modal for inventory update */
.org-dashboard-wrapper .update-inventory-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
    backdrop-filter: var(--backdrop-filter);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: var(--secondary-text-color);
}

.org-dashboard-wrapper .update-inventory-wrapper .update-inventory{
    position: relative;
    width: 700px;
    height: 500px;
    background: var(--secondary-background);
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

/* input box ko section suru */
.org-dashboard-wrapper .update-inventory-wrapper .update-inventory form{
  width: 100%;
  height: 100%;
  margin:20px;
  padding:40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.org-dashboard-wrapper .update-inventory-wrapper .update-inventory form .update-button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-dashboard-wrapper .update-inventory-wrapper .update-inventory form .input-box{
  height:40px;
  width: 200px;
}
.org-dashboard-wrapper .update-inventory-wrapper .update-inventory form .blood-group-wrapper{
  display: flex;
  flex-direction: row;
  gap: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-dashboard-wrapper .update-inventory-wrapper .update-inventory form .blood-group-wrapper
.left-input-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.org-dashboard-wrapper .update-inventory-wrapper .update-inventory form .blood-group-wrapper
.right-input-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.org-dashboard-wrapper .update-inventory-wrapper .update-inventory form .blood-group-wrapper .blood-group{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}


.org-dashboard-wrapper .update-inventory-wrapper .update-inventory .close-button{
  position: absolute;
  top: 15px;
  right: 20px;
  color: var(--secondary-text-color);
}

.org-dashboard-wrapper .update-inventory-wrapper .update-inventory .close-button button{
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--secondary-text-color);
  box-shadow: none;
}


.org-dashboard-wrapper .update-inventory-wrapper .update-inventory .update-button{
  width: 30%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 3;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--border-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.org-dashboard-wrapper .update-inventory-wrapper .update-inventory .update-button:hover {
  color: var(--secondary-text-color);
  backdrop-filter: blur(15px);
  background: transparent;
}




/* modal for request blood */
.org-dashboard-wrapper .request-blood-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  backdrop-filter: var(--backdrop-filter);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: var(--secondary-text-color);
}

.org-dashboard-wrapper .request-blood-wrapper .request-blood{
  position: relative;
  width: 600px;
  height: 400px;
  background: var(--secondary-background);
  border-radius: 20px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

/* input box ko section suru */
.org-dashboard-wrapper .request-blood-wrapper .request-blood form{
width: 100%;
height: 100%;
margin:20px;
padding:40px;
padding-top:10px;
display: flex;
flex-direction: column;
gap: 50px;
}

.org-dashboard-wrapper .request-blood-wrapper .request-blood form .request-button-wrapper{
display: flex;
justify-content: center;
align-items: center;
}

.org-dashboard-wrapper .request-blood-wrapper .request-blood form .input-box{
height:40px;
width: 100%;
}

.org-dashboard-wrapper .request-blood-wrapper .request-blood form .drop-down-box{
    position: relative;
    height: 30px;
    width: 100%;
    margin: 30px 0;
    color: var(--text-color);
}
.org-dashboard-wrapper .request-blood-wrapper .request-blood form .drop-down-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -20%;
  font-size: 16px;
  pointer-events: none;
}



.org-dashboard-wrapper .request-blood-wrapper .request-blood .close-button{
position: absolute;
top: 15px;
right: 20px;
color: var(--secondary-text-color);
}

.org-dashboard-wrapper .request-blood-wrapper .request-blood .close-button button{
background: transparent;
border: none;
outline: none;
font-size: 20px;
cursor: pointer;
color: var(--secondary-text-color);
box-shadow: none;
}


.org-dashboard-wrapper .request-blood-wrapper .request-blood .request-button{
width: 30%;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 18px;
cursor: pointer;
box-shadow: var(--button-shadow);
border: 2px solid var(--border-color);
background-color: var(--button-background-color);
color: var(--button-text-color);
}

.org-dashboard-wrapper .request-blood-wrapper .request-blood .request-button:hover {
color: var(--secondary-text-color);
backdrop-filter: blur(15px);
background: transparent;
}


/* donate blood modal ko lagi */
.org-dashboard-wrapper .donate-blood-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  backdrop-filter: var(--backdrop-filter);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: var(--secondary-text-color);
}

.org-dashboard-wrapper .donate-blood-wrapper .donate-blood{
  position: relative;
  width: 600px;
  height: 400px;
  background: var(--secondary-background);
  border-radius: 20px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

/* input box ko section suru */
.org-dashboard-wrapper .donate-blood-wrapper .donate-blood form{
width: 100%;
height: 100%;
margin:20px;
padding:40px;
padding-top:10px;
display: flex;
flex-direction: column;
gap: 50px;
}

.org-dashboard-wrapper .donate-blood-wrapper .donate-blood form .input-box-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.org-dashboard-wrapper .donate-blood-wrapper .donate-blood form .donate-button-wrapper{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.org-dashboard-wrapper .donate-blood-wrapper .donate-blood form .input-box{
height:40px;
width: 100%;
padding-top: 20px;
}

.org-dashboard-wrapper .donate-blood-wrapper .donate-blood form .drop-down-box{
    position: relative;
    height: 30px;
    width: 100%;
    margin: 30px 0;
    color: var(--text-color);

}
.org-dashboard-wrapper .donate-blood-wrapper .donate-blood form .drop-down-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -20%;
  font-size: 16px;
  pointer-events: none;
}



.org-dashboard-wrapper .donate-blood-wrapper .donate-blood .close-button{
position: absolute;
top: 15px;
right: 20px;
color: var(--secondary-text-color);
}

.org-dashboard-wrapper .donate-blood-wrapper .donate-blood .close-button button{
background: transparent;
border: none;
outline: none;
font-size: 20px;
cursor: pointer;
color: var(--secondary-text-color);
box-shadow: none;
}


.org-dashboard-wrapper .donate-blood-wrapper .donate-blood .donate-button{
width: 30%;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 18px;
cursor: pointer;
z-index: 3;
box-shadow: var(--button-shadow);
border: 2px solid var(--border-color);
background-color: var(--button-background-color);
color: var(--button-text-color);
}

.org-dashboard-wrapper .donate-blood-wrapper .donate-blood-wrapper .donate-button:hover {
color: var(--secondary-text-color);
backdrop-filter: blur(15px);
background: transparent;
}






