.event-details-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background: var(--primary-background);
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.event-details-wrapper .syringe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.event-details-wrapper .event-details {
  position: relative;
  margin: 20px 0;
  width: 100vw;
  z-index: 2;
  background: transparent;
  color: var(--text-color);
  padding: 60px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-details-wrapper .top-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.event-details-wrapper .top-left {
  padding: 8px 18px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background);
  width: 400px;
  height: 155px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.event-details-wrapper .top-left h3, .event-details-wrapper .top-left span{
  color: var(--secondary-text-color);
}

.event-details-wrapper .top-left{
  color: var(--text-color);
}

.event-details-wrapper .top-right {
  z-index: 2;
  width: 990px;
  height: 270px;
  border-radius: 10px;
  background: var(--primary-background);
  box-shadow: var(--shadow);
  backdrop-filter: var(--backdrop-filter);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--secondary-text-color);
}

.event-details-wrapper .top-right h1{
  color: var(--text-color);
}

.event-details-wrapper .bar-chart-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.event-details-wrapper .bar-chart-wrapper .chart-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.event-details-wrapper .bar-chart-wrapper .chart-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.event-details-wrapper .bottom-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.event-details-wrapper .bottom-left, 
.event-details-wrapper .bottom-right {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 800px;
  height: 380px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  backdrop-filter: var(--backdrop-filter);
}

.event-details-wrapper .bottom-right {
  width: 600px;
}

.bottom-left .h1, 
.bottom-right .h1 {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 7px 20px;
  background-color: var(--h1-background);
  color: var(--h1-text-color);
  backdrop-filter: blur(15px);
}

.bottom-left table, 
.bottom-right table {
  margin: 0 20px 20px;
  color: var(--text-color);
}

.bottom-left table th, 
.bottom-right table th {
  text-align: start;
  font-size: 18px;
}

.bottom-left table td, 
.bottom-right table td {
  padding-top: 10px;
  font-size: 17px;
}

.bottom-left table td button {
  text-decoration: none;
  padding: 2px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 3;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--border-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.bottom-left table td button:hover {
  color: var(--text-color);
  background: transparent;
}

.bottom-left .table-data, 
.bottom-right .table-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* modal */

.event-details-wrapper .screening-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: var(--backdrop-filter);
  z-index: 3;
  color: var(--secondary-text-color);
}

.event-details-wrapper .screening-modal .screening-result-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 495px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  background: var(--secondary-background);
  backdrop-filter: var(--backdrop-filter);
  z-index: 4;
}

.event-details-wrapper .screening-modal .screening-result-wrapper .screening-form {
  width: 100%;
  padding: 20px 40px 0px 40px;
}

.event-details-wrapper .screening-modal .screening-form .input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0;
  color: var(--secondary-text-color);
}

.event-details-wrapper .screening-modal .screening-form .input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -20%;
  font-size: 16px;
  color: var(--secondary-text-color);
}

.event-details-wrapper .screening-modal .screening-form span{
  color: var(--secondary-text-color);
}

.event-details-wrapper .screening-modal .screening-form .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-details-wrapper .screening-modal .screening-form form button {
  width: 50%;
  height: 45px;
  background: var(--button-background-color);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: auto;
  color: var(--button-text-color);
  margin-top: 20px;
}

/* Common */

.event-details-wrapper .screening-modal form h1 {
  font-size: 36px;
  text-align: center;
  color: var(--secondary-text-color);
}

.event-details-wrapper .screening-modal .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  color: var(--secondary-text-color);
}

.event-details-wrapper .screening-modal .input-box input::placeholder {
  color: var(--secondary-text-color);
}

.event-details-wrapper .screening-modal .close-button{
  position: absolute;
  top: 15px;
  right: 20px;
  color: var(--secondary-text-color);
  background:transparent;
}

.event-details-wrapper .screening-modal .close-button button{
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--secondary-text-color);
  box-shadow: none;
}


