.todays-event-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background: var(--primary-background);
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.todays-event-wrapper .syringe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.todays-event-wrapper .todays-event {
  position: relative;
  padding: 0 20px;
  margin: 20px 0;
  width: 100vw;
  z-index: 2;
  color: var(--primary);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todays-event .left-section .left-top-section h1 {
  color: var(--secondary-text-color);
}

.todays-event-wrapper .todays-event {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.todays-event .left-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todays-event .left-section .left-top-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.todays-event .event-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  height: 215px;
  background-color: var(--secondary-background);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  color: var(--secondary-text-color);
  padding: 15px 20px;
}

.left-top-section h1, .left-top-section h3{
  color: var(--text-color);
}


.todays-event .left-top-section .event-details .icon-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.todays-event .event-details span{
  color: var(--secondary-text-color);
}

/* volunteer qr */
.todays-event .left-top-right-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width:100%;
}
.todays-event .volunteer-details{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
  height: 263px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  backdrop-filter: var(--backdrop-filter);
}

.todays-event .volunteer-details  .h1{
  width: 100%;
  position: sticky;
  top: 0;
  padding: 7px 20px;
  background-color: var(--h1-background);
}

.todays-event .volunteer-details  .h1 h1{
  color: var(--h1-text-color);
}




/* Donor details */
.todays-event .donor-details {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 750px;
  height: 378px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  backdrop-filter: var(--backdrop-filter);
}

.todays-event .left-bottom-section .donor-details  .h1{
  width: 100%;
  position: sticky;
  top: 0;
  padding: 7px 20px;
  background-color: var(--h1-background);
  color: var(--h1-text-color);
}

.todays-event table {
  margin: 0 20px 20px;
  color: var(--secondary-text-color);
}

.todays-event table th {
  text-align: start;
  font-size: 18px;
  color: var(--text-color);
}

.todays-event table td {
  padding-top: 10px;
  font-size: 17px;
  color: var(--text-color);
}

.todays-event table td button {
  text-decoration: none;
  padding: 2px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 3;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--border-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.todays-event table td button:hover {
  color: var(--button-color);
  backdrop-filter: blur(15px);
  background: transparent;
}

.todays-event .table-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* QR code section */
.todays-event-wrapper .right-section .qr-wrapper {
  width: 630px;
}

.todays-event .qr-image {
  border-radius: 10px;
  width: 630px;
}


/* modal */

.todays-event-wrapper .screening-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: var(--backdrop-filter);
  z-index: 3;
  color: var(--secondary-text-color);
}

.todays-event-wrapper .screening-modal .screening-result-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 495px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  background: var(--secondary-background);
  backdrop-filter: var(--backdrop-filter);
  z-index: 4;
}

.todays-event-wrapper .screening-modal .screening-result-wrapper .screening-form {
  width: 100%;
  padding: 20px 40px 0px 40px;
}

.todays-event-wrapper .screening-modal .screening-form .input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0;
  color: var(--secondary-text-color);
}

.todays-event-wrapper .screening-modal .screening-form .input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -20%;
  font-size: 16px;
  color: var(--secondary-text-color);
}

.todays-event-wrapper .screening-modal .screening-form span{
  color: var(--secondary-text-color);
}

.todays-event-wrapper .screening-modal .screening-form .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todays-event-wrapper .screening-modal .screening-form form button {
  width: 50%;
  height: 45px;
  background: var(--button-background-color);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: auto;
  color: var(--button-text-color);
  margin-top: 20px;
}

/* Common */

.todays-event-wrapper .screening-modal form h1 {
  font-size: 36px;
  text-align: center;
  color: var(--secondary-text-color);
}

.todays-event-wrapper .screening-modal .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  color: var(--secondary-text-color);
}

.todays-event-wrapper .screening-modal .input-box input::placeholder {
  color: var(--secondary-text-color);
}

.todays-event-wrapper .screening-modal .close-button{
  position: absolute;
  top: 15px;
  right: 20px;
  color: var(--secondary-text-color);
  background:transparent;
}

.todays-event-wrapper .screening-modal .close-button button{
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--secondary-text-color);
  box-shadow: none;
}
