.todays-event-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background: var(--primary-background);
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.todays-event-wrapper .syringe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.todays-event-wrapper .todays-event {
  position: relative;
  padding: 0 20px;
  margin: 20px 0;
  width: 100vw;
  z-index: 2;
  color: var(--primary);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todays-event h1 {
  color: var(--secondary-text-color);
}

.todays-event-wrapper .todays-event {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.todays-event .left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todays-event .event-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 350px;
  height: 192px;
  background-color: var(--secondary-background);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  color: var(--secondary-text-color);
  padding: 5px 15px;
}

.left-top-section h1{
  color: var(--text-color);
}


.todays-event .left-top-section .event-details .icon-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.todays-event .event-details span{
  color: var(--secondary-text-color);
}

/* Donor details */
.todays-event .donor-details {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 750px;
  height: 374px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  backdrop-filter: var(--backdrop-filter);
}

.donor-details .h1 h1{
  width: 100%;
  position: sticky;
  top: 0;
  padding: 7px 20px;
  background-color: var(--h1-background);
  color: var(--h1-text-color);
}

.todays-event table {
  margin: 0 20px 20px;
  color: var(--secondary-text-color);
}

.todays-event table th {
  text-align: start;
  font-size: 18px;
  color: var(--text-color);
}

.todays-event table td {
  padding-top: 10px;
  font-size: 17px;
  color: var(--text-color);
}

.todays-event table td button {
  text-decoration: none;
  padding: 2px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 3;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--border-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.todays-event table td button:hover {
  color: var(--button-color);
  backdrop-filter: blur(15px);
  background: transparent;
}

.todays-event .table-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* QR code section */
.todays-event-wrapper .right-section .qr-wrapper {
  width: 630px;
}

.todays-event .qr-image {
  border-radius: 10px;
  width: 630px;
}
