:root{
    /* --text-color: #d5c9c9;
    --primary: rgb(160, 25, 25); */
  }

.wrapper{
    width:100vw;
    height: 100vh;
    position: relative;
    background: var(--primary-background);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    color:var(--text-color); 
}

.wrapper .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

/* login form */
.wrapper .form-box-login{
    position: relative;
    z-index: 2; 
    display: flex;
    width: 840px;
    height: 440px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    box-shadow: var(--shadow);
    backdrop-filter: var(--backdrop-filter);
   /* pointer-events: none;   yesle garda form ko paxadi ko mouse event active hunxa, yesle block event lai kholdinxa */
}

.form-box-login .login-section{
    width: 50%;
    border-radius: 20px;
    color: var(--text-color);
    padding: 40px;
}
.login-section .img{
    width: 100%;
    margin-top: 20px;
    width: 350px;
    height: 260px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    backdrop-filter: blur(5px);
    background-color: transparent;
}

.login-section img{
    width:100%;
    height:100%;
    border-radius: 20px;
}
.form-box-login .login-form{
    width: 50%;
    padding: 40px;
}
.form-box-login form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color:var(--text-color);
}

.form-box-login .input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
    color:var(--text-color);
}

.form-box-login form button{
    width: 100%;
    height: 45px;
    background-color: var(--button-background-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: var(--button-text-color);
}

form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: var(--text-color);
}

.remember-forgot label input{
    color:var(--text);
    margin-right: 4px;
    accent-color: black;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login-form .account-type{
    margin-bottom: 35px;
    color: var(--text-color);
}

.login-form .account-type input{
   accent-color: black;
   margin: 0 5px; 
}


.login-form .account-type .user{
    margin-right: 10px
}



form .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: var(--text-color);
}

.register-link p a{
    color:black;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
}

.register-link p a:hover{
    text-decoration: underline;
}




/* registration for organization*/
.wrapper .form-box-registration{
    position: relative;
    margin-top: 340px;
    margin-bottom: 40px;
    z-index: 2; 
    width: 840px;
    height: 920px;
    border-radius: 20px;
    box-shadow: 0 0 40px var(--border-color);
    background: transparent;
    box-shadow: 0px 0px 50px var(--shadow-color);
    backdrop-filter: blur(5px); 
}

.form-box-registration .registration-form{
    width: 100%;
    padding: 20px 40px 0px 40px;
}
.form-box-registration form .input-box{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    color: var(--text-color);
}

.form-box-registration .drop-down-box{
    position: relative;
    height: 30px;
    width: 100%;
    margin: 30px 0;
    color: var(--text-color);
}


.registration-form .organization-type{
    margin-top: 15px;
    color: var(--text-color);
}

.registration-form .organization-type input{
   accent-color: black;
   margin: 0 5px; 
}


.registration-form .organization-type .hospital{
    margin-right: 10px
}

.registration-form .input-document{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    margin-bottom: 0;
    color: var(--text-color);
}

.registration-form .input-document input{
    margin-left: 5px;
}

.form-box-registration .input-document .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
    color: var(--text-color);
}

.form-box-registration .terms-and-conditions{
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 14.5px;
    color: var(--text-color);
}

.form-box-registration .terms-and-conditions input{
    margin-right: 5px;
    accent-color: black;
}
.form-box-registration .terms-and-conditions a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}
.form-box-registration .terms-and-conditions a:hover{
    text-decoration: underline;
}

.form-box-registration .input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
}
.form-box-registration .button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box-registration form button{
    width: 50%;
    height: 45px;
    background: var(--button-background-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    color: var(--button-text-color);
}

form .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: var(--button-color);
}

.login-link p a{
    color:black;
    text-decoration: none;
    font-weight: 600;
    color: var(--button-color);
}

.login-link p a:hover{
    text-decoration: underline;
}


/* registration for User*/

.wrapper .form-box-user-registration{
    position: relative;
    z-index: 2; 
    width: 850px;
    height: 925px;
    border-radius: 20px;
    background: transparent;
    box-shadow: var(--shadow);
    backdrop-filter: var(--backdrop-filter);
    margin-top: 330px;
    margin-bottom: 30px; 
}
.form-box-user-registration .user-form{
    width: 100%;
    padding: 20px 40px 0px 40px;
}

.form-box-user-registration form .input-box{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    color: var(--text-color);
}

.user-form .drop-down-box{
    position: relative;
    height: 30px;
    width: 100%;
    margin: 30px 0;
    color: var(--text-color);
}

.drop-down-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
    pointer-events: none;
}

.user-form .dob-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--text-color);
}

.dob-box .dob-label{
    width: 130px;
}

.dob-box .date-picker{
    width: 100%;
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    /* border: 1px solid var(--text); */
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 5px 0px 5px 20px;
}
.dob-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
    pointer-events: none;
}

.user-form .gender{
    margin-top: 20px;
    color: var(--text-color);
}

.user-form .gender input{
   accent-color: black;
   margin: 0 5px; 
}


.user-form .gender .male{
    margin-right: 10px
}

.user-form .gender .female{
    margin-right: 10px
}

.user-form .input-document{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    margin-bottom: 0;
    color: var(--text-color);
}

.user-form .input-document input{
    margin-left: 5px;
}

.form-box-user-registration .input-document .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
    color: var(--text-color);
}

.form-box-user-registration .terms-and-conditions{
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 14.5px;
    color:var(--text-color);
}

.form-box-user-registration .terms-and-conditions input{
    margin-right: 5px;
    accent-color: black;
}
.form-box-user-registration .terms-and-conditions a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}
.form-box-user-registration .terms-and-conditions a:hover{
    text-decoration: underline;
}

.form-box-user-registration .input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
}
.form-box-user-registration .button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box-user-registration form button{
    width: 50%;
    height: 45px;
    background: var(--button-background-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--shadow);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    color: var(--button-text-color);
}
form .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: var(--text-color);
}

.login-link p a{
    text-decoration: none;
    font-weight: 600;
    color: var(--button-color);
}

.login-link p a:hover{
    text-decoration: underline;
}

/* common */

.wrapper form h1{
    font-size: 36px;
    text-align: center;
    color:var(--text-color);
}

.wrapper .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid var(--border-color);
    /* border: 1px solid var(--text); */
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: var(--text-color);
}

.wrapper .input-box input::placeholder{
    color: var(--text-color);
}






