
.navigation-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3 !important;
}

.navigation-bar .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 10px 20px;
  color: var(--text-color);
  z-index: 2;
  backdrop-filter: var(--backdrop-filter);
  box-shadow: var(--shadow);
}

.navbar-left h1 {
  margin: 0;
  font-size: 24px;
  color: var(--text-color);
}

.navbar-right {
  color: var(--text-color);
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 155px;
}

.navbar-right .right-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.navbar-right-left a {
  padding: 0 15px;
}

.navbar-right a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
}

.navbar-right a:hover {
  text-decoration: underline;
}


.navbar-right .icons-wrapper .notification-button {
  position: relative;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding-left: 10px;
  box-shadow: none;
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icons-wrapper .icon {
  font-size: 24px;
  cursor: pointer;
}

.navbar-right .notification-list {
  position: absolute;
  top: 58px;
  right: 250px;
  height: 204px;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-overflow: hidden;
}

.notification-list a {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background);
  padding: 5px 15px;
  border-radius: 5px;
  text-overflow: hidden;
}

.navbar-right .logout-button {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 18px;
  padding: 3px 20px;
  cursor: pointer;
  box-shadow: none;
  margin-left: 15px;
}

.logout-button:hover {
  text-decoration: underline;
}

.navbar-right .login-button {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: none;
}

.navbar-right .login-button:hover {
  text-decoration: underline;
}

.navbar-right .login-option {
  position: absolute;
  top: 57px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: var(--secondary-background);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 4px 0;
  color: var(--secondary-text-color);
}

.navbar-right .login-option a {
  padding: 6px 20px;
  color: var(--secondary-text-color);
  background-color: transparent;
}
