.donor-search-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--primary-background);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.donor-search-wrapper .syringe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.donor-search-wrapper .donor-search {
    position: relative;
    z-index: 2;
    width: 850px;
    height: 490px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    background: transparent;
    backdrop-filter: var(--backdrop-filter);
    margin-top: 85px;
    margin-bottom: 30px;
    padding: 20px 40px 0px 40px;
}

.donor-search h1 {
    margin-bottom: 15px;
    color: var(--text-color);
}

.donor-search .input-box {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 25px 0;
    color: var(--text-color);
}

.donor-search .drop-down-box {
    position: relative;
    height: 30px;
    width: 100%;
    margin: 30px 0;
    color: var(--text-color);
}

.donor-search .drop-down-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
    pointer-events: none;
}

.donor-search .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
}

.donor-search .button-container {
    display: flex;
    gap: 15px;
    padding: 20px;
  }
  
  .donor-search  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--border-color);
    box-shadow: var(--button-shadow);
    color: var(--text-color);
    transition: background-color 0.3s;
  }
  
  .donor-search  .button.active {
    background-color: green;
    color: var(--button-text-color)
  }
  

/* .donor-search .search-basis-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--text-color);
}

.search-basis-wrapper .search-basis-option {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-basis-option input {
    accent-color: var(--text-color);
    margin: 0 5px;
} */

.donor-search .blood-request-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.donor-search .blood-request-submit-button button {
    width: 35%;
    height: 45px;
    background: var(--button-background-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    color: var(--button-text-color);
}

.donor-search-wrapper .searched-modal-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
    backdrop-filter: var(--backdrop-filter);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: var(--secondary-text-color);
}

.donor-search-wrapper .searched-modal-wrapper .searched-modal{
    position: relative;
    width: 700px;
    height: 380px;
    background: var(--secondary-background);
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.donor-search-wrapper .searched-modal-wrapper .searched-modal .close-button{
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--secondary-text-color);
  }
  
  .donor-search-wrapper .searched-modal-wrapper .searched-modal .close-button button{
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--secondary-text-color);
    box-shadow: none;
  }

  .donor-search-wrapper .searched-modal-wrapper .searched-modal .h1 {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--h1-background);
    backdrop-filter: blur(15px);
    padding: 7px 20px;
    color: var(--h1-text-color);
  }
  
  .donor-search-wrapper .searched-modal-wrapper .searched-modal table {
    margin: 0 20px 20px;
    color: var(--text-color);
  }
  
  .donor-search-wrapper .searched-modal-wrapper .searched-modal table th {
    text-align: start;
    font-size: 18px;
  }
  
  .donor-search-wrapper .searched-modal-wrapper .searched-modal table td {
    padding-top: 10px;
    font-size: 17px;
  }
  
  .donor-search-wrapper .searched-modal-wrapper .searched-modal table td button {
    text-decoration: none;
    padding: 2px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 3;
    box-shadow: var(--button-shadow);
    border: 2px solid var(--border-color);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
  }
  
  .donor-search-wrapper .searched-modal-wrapper .searched-modal table td button:hover {
    color: var(--text-color);
    backdrop-filter: blur(15px);
    background: transparent;
  }
  
  .donor-search-wrapper .searched-modal-wrapper .searched-modal .table-data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
