/* General Page Styling */

:root{
    --secondary: #d5c9c9;
    --primary: rgb(160, 25, 25);
  }
  
    .user-dashboard-navigation-bar {
      position: fixed;
      top: 0;
      width:100vw;
      text-align: center;
      z-index: 3 !important;
    }
    
    .user-dashboard-navigation-bar .user-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      padding: 10px 20px;
      color: var(--text);
      z-index: 2;
      backdrop-filter: blur(5px);
      box-shadow: 0px 0px 50px rgba(119, 81, 81, 0.6);
      /* border:2px solid rgba(255,255,255,.1); */
    }
    
    .user-navbar-left h1 {
      margin: 0;
      font-size: 24px;
    }

    .user-navbar-right{
      color: var(--secondary);
      font-size: 18px;
      display: flex;
      flex-direction: row;
      gap: 155px;
    }

    .user-notifications .notification-button{
      position: relative;
      background-color: transparent;
      border: none;
      color: var(--secondary)
    }
    .notification-button .icon{
      font-size: 24px;
      cursor: pointer;
    }

    .user-navbar-right .user-notifications{
      background-color: transparent;
    }

    .user-navbar-right .notification-list{
      position: absolute;
      top: 58px;
      right: 240px;
      height:204px;
      width:400px;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-width: none;
      background-color: transparent;
      
    }
    .user-navbar-right .notification-list .notification-items{
      width: 400px;
      text-decoration: none;
      padding: 3px 5px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      z-index: 3;
      box-shadow: 0px 0px 50px rgba(119, 81, 81, 0.6);
      border:2px solid rgba(255,255,255,.1);
      background-color: var(--secondary);
      color: var(--primary);
      font-size: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 1px;
    }
    .notification-items a{
      text-decoration: none;
      color: var(--primary);
    }

    
  
    .user-navbar-right .right-right a{
      margin: 0 25px;
      color: var(--secondary);
      text-decoration: none;
      font-size: 18px;
    }

    .user-navbar-right a:hover{
      text-decoration: underline;
    }
  
    
  
    