.user-organize-event-wrapper{
    width:100vw;
    height: 100vh;
    position: relative;
    background-image: url('/background3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
.user-organize-event-wrapper .syringe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.user-organize-event-wrapper .user-organize-event{
    position: relative;
    z-index: 2; 
    width: 850px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(77, 5, 2,1);
    background: transparent;
    box-shadow: 0px 0px 50px rgba(119, 81, 81, 0.6);
    backdrop-filter: blur(5px);
    margin-top: 85px;
    margin-bottom: 30px;
    padding: 20px 40px 0px 40px; 
}

.user-organize-event h1{
    margin-bottom: 15px;
}

.user-organize-event span{
    color: var(--secondary); 
}

.user-organize-event .input-box{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 25px 0;
    color:var(--text);
}

.user-organize-event .drop-down-box{
    position: relative;
    height: 30px;
    width: 100%;
    margin: 30px 0;
    color:var(--text);
}

.user-organize-event .drop-down-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
    pointer-events: none;
}

.user-organize-event .input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -20%;
    font-size: 16px;
}

.user-organize-event .date-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    color:var(--text);
}

.user-organize-event .date-box .date-label{
    width: 300px;
}

.user-organize-event .date-box .date-picker{
    width: 100%;
    background: transparent;
    color:var(--text);
    border: 1px solid rgba(255,255,255,.1);
    /* border: 1px solid var(--text); */
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 6px 0px 6px 20px;
}
.user-organize-event .date-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
    pointer-events: none;
}

/* time-picker */

.user-organize-event .time-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    color:var(--text);
    height: 30px;
    margin-bottom: 30px;
    margin-top: 25px;
}

.user-organize-event .time-box .time-label{
    width: 110px;
}

.user-organize-event .time-box .time-picker{
    width: 100%;
    background: transparent;
    color:var(--text);
    border: 1px solid rgba(255,255,255,.1);
    /* border: 1px solid var(--text); */
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 10px 0px 10px 20px;
}
.time-box input[type="time"]{
    color: var(--secondary);
    accent-color: var(--secondary);
}
.user-organize-event .time-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
    pointer-events: none;
}

.user-organize-event .volunteer-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.user-organize-event .volunteer{
    margin-top: 20px;
    color: var(--secondary);
    width: 450px;
}

.user-organize-event .volunteer input{
    accent-color: black;
    margin: 0 5px; 
 }
 
 .user-organize-event .volunteer .yes{
     margin-right: 10px
 }

 .volunteer-wrapper .input-box{
    width: 100%;
    margin: 0px;
 }
 


.user-organize-event .user-organize-event-submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.user-organize-event button{
    width: 40%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
}