
  
  .user-profile-update-wrapper {
      width: 100vw;
      height: 100vh;
      position: relative;
      background: var(--primary-background);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
      color: var(--secondary-text-color);
  }
  
  .user-profile-update-wrapper .syringe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
  }
  
  .user-profile-update-wrapper .user-profile-update {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      width: 840px;
      height: 600px;
      border: 2px solid var(--border-color);
      border-radius: 20px;
      box-shadow: var(--shadow);
      backdrop-filter: var(--backdrop-filter);
      margin-top: 50px;
      padding: 20px 30px;
  }

  .user-profile-update h1{
    color: var(--text-color);
  }
  
  .user-profile-update form {
      width: 100%;
  }
  
  .user-profile-update .input-box {
      position: relative;
      width: 100%;
      height: 30px;
      margin: 30px 0;
  }
  
  .user-profile-update .input-box .icon {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -20%);
      font-size: 16px;
      color: var(--text-color);
  }

  .user-profile-update .input-box input{
    color: var(--text-color);
  }

  .user-profile-update .input-box input::placeholder{
    color: var(--text-color);
  }
  
  .user-profile-update .drop-down-box {
      position: relative;
      height: 30px;
      width: 100%;
      margin: 30px 0;
      color: var(--text-color);
  }
  
  .drop-down-box .icon {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, 0);
      font-size: 16px;
      pointer-events: none;
  }
  
  .user-profile-update .dob-box {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      color: var(--text-color);
  }
  
  .dob-box .dob-label {
      width: 130px;
  }
  
  .dob-box .date-picker {
      width: 100%;
      background: transparent;
      color: var(--text-color);
      border: 1px solid var(--border-color);
      outline: none;
      border-radius: 40px;
      font-size: 16px;
      padding: 5px 0px 5px 20px;
  }
  
  .dob-box .icon {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -10%);
      font-size: 16px;
      pointer-events: none;
  }
  
  .user-profile-update .gender {
      margin-top: 20px;
      color: var(--text-color);
  }
  
  .user-profile-update .gender input {
      accent-color: black;
      margin: 0 5px;
  }

  
  
  .user-profile-update .gender .male {
      margin-right: 10px;
  }
  
  .user-profile-update .gender .female {
      margin-right: 10px;
  }
  
  .user-profile-update .button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
  }
  
  .user-profile-update button {
    width: 35%;
    height: 45px;
    background: var(--button-background-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    color: var(--button-text-color);
  }

  