.user-profile-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--primary-background);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    color: var(--secondary-text-color); 
}

.user-profile-wrapper .syringe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.user-profile-wrapper .user-profile {
    z-index: 2;
    background: transparent;
    color: var(--text-color);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-profile .top-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.top-section .icon-info-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.user-profile .top-section .user-basic-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    width: 470px;
    height: 390px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: var(--shadow);
    backdrop-filter: var(--backdrop-filter);
}

.user-basic-info .user-icon {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.user-icon .icon {
    width: 80px;
    height: 80px;
}

.user-icon .name-email {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-basic-info .other-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-basic-info .edit-profile-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.edit-profile-button button {
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 3;
    box-shadow: var(--button-shadow);
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.edit-profile-button button:hover {
    color: var(--text-color);
    backdrop-filter: blur(15px);
    background: transparent;
}

.top-section .donation-profile {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 20px 30px;
    width: 520px;
    height: 390px;
    background-color: var(--secondary-background);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: var(--shadow);
    color: var(--secondary-text-color);
}
.top-section .donation-profile span{
    color: var(--secondary-text-color);
}

.donation-profile .medal-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.donation-profile .medal-wrapper .medal-left-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 390px;    
}

.medal-left-section .progress-percentage {
    display: flex;
    justify-content: space-between;
}

.medal-left-section .progress-bar-background {
    height: 20px;
    width: 100%;
    background-color: var(--progress-background-color);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.medal-left-section .progress-bar-foreground {
    height: 100%;
    background-color: green;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 20px;
    transition: width 0.5s ease-in-out;
}

.medal-wrapper img {
    width: 150px;
}

/* bottom section */

.bottom-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.bottom-section .last-donation-blood-health-info {
    width: 295px;
    height: 200px;
    background-color: var(--secondary-background);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: var(--shadow);
    color: var(--secondary-text-color);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.last-donation-blood-health-info .icon-title-wrapper {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}
.last-donation-blood-health-info .icon-title-wrapper .icon{
    color: var(--secondary-text-color);
}
.bottom-section .last-donation-blood-health-info span{
    color: var(--secondary-text-color);
}

.icon-title-wrapper .icon {
    font-size: 25px;
}

.last-donation-blood-health-info .blood-health-info-list-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.bottom-section .user-donation-history {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 700px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: var(--shadow);
    backdrop-filter: var(--backdrop-filter);
}

.bottom-section .user-donation-history .h1-history {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(15px);
    padding: 4px 20px;
    background-color: var(--h1-background);
    color: var(--h1-text-color);
    margin-bottom: -10px;
}

.bottom-section table {
    margin: 0 20px 20px;
}

.bottom-section table th {
    text-align: start;
    font-size: 18px;
}

.bottom-section table td {
    padding-top: 4px;
    font-size: 17px;
}
